.DetailedView {
  height: 95vh;
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-template-rows: 1fr 3fr 8fr;
  grid-template-areas:
    "header  tabs"
    "preview content"
    "metadata  content";

  &-header {
    grid-area: header;
    background-color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &-preview {
    grid-area: preview;
  }

  &-metadata {
    grid-area: metadata;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &-folders {
    grid-area: content;
    padding: 0;
    overflow: scroll;
  }
}
