.FilesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-gap: 16px;
    overflow: scroll;
    padding: 8px;
    background-color: #f8f8f8;
    justify-content: center;
}
