.Grid {
    height: 90.5vh;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-template-rows: repeat(auto-fit, 240px);
    grid-gap: 16px;
    overflow: scroll;
    align-items: stretch;
    justify-items: center;

    background: linear-gradient(rgb(243, 242, 241) 30%, hsla(0, 0%, 100%, 0)),
    linear-gradient(hsla(0, 0%, 100%, 0) 10px, rgb(243, 242, 241) 70%) bottom,
    radial-gradient(at top, rgba(0, 0, 0, 0.2), transparent 70%),
    radial-gradient(at bottom, rgba(0, 0, 0, 0.2), transparent 70%)
        bottom;
  }