.Navbar {
    &-tools {
        width: 100%;
    }

    .ms-SearchBox,
    .ms-SearchBox:hover {
        background-color: transparent;
        color: white;
        min-width: 50%;
        border-color: white;
    }
    .ms-SearchBox-icon {
        color: white;
    }

    .ms-SearchBox-field {
        color: white;
    }
    .ms-SearchBox-field::placeholder {
        color: white;
    }
}
