.FileOverview {
    height: 90vh;
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-template-areas:
        "preview  aside"
        "preview aside"
        "preview  aside";

    &-preview {
        grid-area: preview;
        overflow: hidden;
        width: 100%;
    }

    &-sidebar {
        grid-area: aside;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &-tabs {
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100%;

        div[role="tabpanel"],
        div[role="tabpanel"] > div {
            height: 100%;
            overflow: scroll;
        }
    }
}
